div h1{
    text-align: center;
}
.content{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    margin:8px;
}
.jumbotron {
    background-color: sandybrown;
    color: white;
	border-radius: 0px;
}


.jumbotron small {
    color: #FFF;
}
	
.h1 small {
	font-size: 24px;
}
#subject{
    height: 30px;
}
.error{
    color: red;
    font-size: 15px;
}
.button{
    background-color: palegreen;
    color: black;
    padding: 2px 5px;
    justify-content: center;
}
/*Pagination*/
.center {
    text-align: center;

}
.center .pagination {
    display: inline-block;
    padding-top:8px;
}
  
.center .pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s !important;
    border: 1px solid #ddd;
    margin: 0 4px;
}
  
.center .pagination a.active {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
}
  
.pagination a:hover:not(.active) {
    background-color: #ddd !important;
}
